/*Упростите код, используя группировку селекторов:*/
/*h1,h2,h3{
    text-align: center;
}*/


/*Упростите код, используя группировку селекторов:*/
/*h1,h2,h3{
    text-align: center;
}
h2{
    color: blue;
}
h3{
    font-size: 16px;
    color: red;
}*/



/*Упростите код, используя группировку селекторов*/
/*h1,h2,h3{
    text-align: center;
}
h1{
    color: red;
}
h2{
    color: red;
}
h3{
  font-size: 16px;
  color: red;
}*/ 



/*Дан следующий кодПокрасьте в красный цвет курсив из тегов ul, а в зеленый цвет - курсив из тегов p*/
/* li i{
    color:red;
}

p i {
    color: green;
}*/ 



/*Дан следующий код:Покрасьте в красный цвет курсив, находящийся внутри тега b, который в свою очередь находится внутри тега p.*/
/*p b i {
    color:red
}*/ 



/*Дан следующий код:Покрасьте в красный цвет только те теги b, которые являются непосредственными потомками тегов li.*/
/*li > b{
    color:red;
}*/ 



/*Дан следующий код:Покрасьте в красный цвет элементы с классом odd и в зеленый цвет - элементы с классом eve.*/
/*.odd{
    color:red;
}
.eve{
    color:green;
}*/ 



/*Дан следующий код:Покрасьте в красный цвет все элементы с классом eee.*/
/*.eee{
    color: red;
}*/ 




/**/ 